/vue/node_modules/
/env/
/data/
/.idea/

__pycache__/
/flask_app/minimal_device/__pycache__/
/flask_app/data/
/flask_app/.venv/
/flask_app/build/
/flask_app/dist/
/secrets/
/secrets2/
/logs/
/venv/
/flask_app/develop/
/db/
