[Unit]
Description=Autossh tunnel
After=network.target

[Service]
User=pi
EnvironmentFile=-/etc/environment
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -N -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -R *:${VPS_PORT}:localhost:3000 replifactory-device@${VPS_IP}

[Install]
WantedBy=multi-user.target