[Unit]
Description=SSL tunnel for network daemons
After=network.target

[Service]
ExecStart=/usr/bin/stunnel4 /etc/stunnel/stunnel.conf
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
