[Unit]
Description=SSL tunnel for network daemons
After=network.target

[Service]
ExecStart=/usr/bin/stunnel4 /etc/stunnel/stunnel.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=forking
PIDFile=/run/stunnel4.pid

[Install]
WantedBy=multi-user.target
